/*   Global     */
:root {
    --swiper-theme-color: white;
}

* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;

    

}
body {
    width: 100%;
    height: 100%;
    background-image: url("../img/cartoon-curtain.png");
    background-attachment: fixed;
    background-position: 54%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

a {
    color: black;
}


/*          .logo        */
header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    
}

.menu img {
    cursor: pointer;
    width: 45px;
    
}

.controls {
    display: flex;
    align-items: center;
    justify-content:end;
    margin-right: 15px;

    
}

.lang-btn {
    width: 34px;
    height: 26px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 6px;
    margin-right: 5px;
}

.logo  {
    padding-top: 20vh;
    text-align: center;
    
}

.logo h1, .logo h2 {
    margin-left: 0px;
}

h1, h2 {
    font-size: 1.85rem;
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 0.9rem;
    font-family: Verdana, sans-serif;
}

/*          Nav         */

nav {
    display: flex;
    flex-flow: column nowrap;
    
    background-image: url("../img/parchment-scroll-2.png");
    padding: 20px 0 30px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 162px 185px;
    align-items: center;
}

nav a {
    margin-top: 5px;
    margin-left: 25px;
    width: 100px;
}

/*          #home        */

#home {
    height: 95vh;
    text-align: center;

}

.cta-contact {
    position: relative;
    top: 200px;
    background-color: #20222B;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}


/*          #gallery      */

#gallery {
    height: 65vh;
    text-align: center;
}

#gallery h2 {
    margin-bottom: 30px;
}

.swiper {
    height: 55vh;
    width: 100%;
    
}

.swiper-slide img {
    width: 75vw;
    height: 400px;
    border-radius: 10px;
}



/*          #about-me       */

#about-me {
    
}

/*          #about-tini-mini       */

#about-tini-mini {
    padding: 30px;
    background: no-repeat url('../img/g4274.png');
    background-size: 100% 100%;
    padding-top: 50px;
}

#about-tini-mini h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

#about-tini-mini p {
    margin-left: 35px;
    margin-right: 10px;
    margin-bottom: 15px;
    color: black;
}

#signature#signature {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
    text-align: end;
    margin-right: 25px;
}

/*          #contact     */

#contact {
    margin-top: 55px;
    text-align: center;
    margin-bottom: 20vh;
}

#contact h2 {
    margin-bottom: 70px;
    padding: 0 20px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 30px;
}

.form {
    width: 90%;
    margin: 8px 0;
    padding: 8px 10px;
    border: 1px solid black;
    background-color: #20222B;
    border-radius: 10px;
}

.form-submit {
    width: 90%;
    background-color: #20222B;
    color: #BBC4DA;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 25px;
}

.contact-text p {
    margin-bottom: 15px;
}

/*          #socials        */

#socials {
    height: 20vh;
}


/*          footer          */
footer, footer a {
    width: 100%;
    font-size: 0.35rem;
}

hidden {
    position: relative;
    opacity: 0;
}